<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylecss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>JSMP Profile</title>
</head>
</body>
    {% include 'base/header.html' %}

    {% include 'base/navbar.html' %}

    <br>
    <div class="title">
        <h1>List Jadwal</h1>
    </div>

    {% for i in jadwal %}
    <div class="container">
        <div class="card-deck">
          <div class="card bg-warning">
            <div class="card-body text-center">
                <h2 class="card-text">{{i.matkul}}</h2>
                <p class="card-text">Nama Dosen : {{i.dosen}}</p>
                <p class="card-text">Jumlah SKS : {{i.sks}}</p>
                <p class="card-text">Deskripsi : {{i.deskripsi}}</p>
                <p class="card-text">Tahun Semester :{{i.semester_tahun}}</p>
                <p class="card-text">Ruang kelas : {{i.ruang_kelas}}</p>
                <p class="card-text"><a class="btn btn-danger" href="/delete_items/{{i.id}}"> Delete </a></p>
            </div>
          </div>
        </div>
    </div> 
    {% endfor %}
</body>    
</html>