<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylecss.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>JSMP Profile</title>
    
</head>
<body>
    <!-- header -->
    {% include 'base/header.html' %}
    
    <!-- Navbar -->
    {% include 'base/navbar.html' %}

    <!-- Prompt -->
    <br>
    <div class="title">
        <h1> My Profile </h1>
        
    </div>
    <!-- isi dari comment -->
        
    <div class="content" style="overflow-x:auto;">
        <table width="1000px" height="100%" >
        <tr>
            <td>
                <img src ="{% static 'profil.jpg' %}"  width="300" height="300">
            </td>
            <td>
                <p>Nama : Josias Marchellino Pakpahan</p>
                <p>NPM : 1906298941</p>
                <p>Angkatan : 2019</p>
                <p>Hobby : Menonton, tidur</p>
                <p>Kuliah : Universitas Indonesia</p>    
            </td>
        </tr>
        </table>
        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>Deskripsi</h2>
                <p>Saya biasa dipanggil Josias, saya orang yang ramah dan mudah bergaul</p>
                <p>Semoga website ini bermanfaat bagi para pengunjung</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Pendidikan</h2>
                <li>SD : Galatia Bekasi</li>
                <li>SMP : Tunas Harapan Nusantara Bekasi</li>
                <li>SMA : SMAN 14 Bekasi</li>
              </div>
            </div>
            <div class="container left">
                <div class="content">
                  <h2>Organisasi</h2>
                  <li>Staff PSDM KMK Fasilkom UI</li>
                </div>
              </div>
          </div>
          <div class="container right">
            <div class="content">
              <h3>Media Sosial</h3>
                <a href="https://www.instagram.com/josiass_mp/" class="fa fa-instagram"></a>
                <a href="https://twitter.com/JosiaasM" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/josias-m-p-8a147a1a0/" class="fa fa-linkedin"></a>
            </div>
        </div>
</body>
</html>